<!DOCTYPE html>
<html>
  <head>
    <title>LevelUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'topBar', media: "all", 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'tasks', media: "all", 'data-turbo-track': 'reload' if current_page?(root_path) %>
    <%= stylesheet_link_tag 'avatar', media: 'all', 'data-turbo-track': 'reload' %>


    <% if devise_controller? %>
      <%= stylesheet_link_tag 'devise', media: "all", 'data-turbo-track': 'reload' %>
    <% end %>

    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "tasks" %>
    <%= javascript_include_tag 'avatar', 'data-turbo-track': 'reload' %>

    <%= javascript_include_tag "topBar", "data-turbo-track": "reload" %>


  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'topBar/topBar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
